<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подсчёт слов</title>
</head>
<body>
    <h2>Загрузите текстовый файл</h2>
    <form action="{% url 'load_file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" required>
        <button type="submit">Загрузить</button>
    </form>

    {% if file_uploaded %}
        <h3>Файл загружен!</h3>

        <h2>Введите слово для поиска</h2>
        <form action="{% url 'word_count' %}" method="post">
            {% csrf_token %}
            <input type="text" name="word" required>
            <button type="submit">Посчитать</button>
        </form>
    {% endif %}

    {% if word_to_count is not None %}
        <h3>Слово "{{ word_to_count }}" встречается {{ count }} раз(а).</h3>
    {% endif %}

    <form action="{% url 'clear_memory' %}" method="post">
        {% csrf_token %}
        <button type="submit">Очистить</button>
    </form>
</body>
</html>
